{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block extra_css %}
<style>
    /* Общие стили для контейнера сброса пароля завершен */
    .password-reset-done-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        text-align: center;
    }

    /* Заголовок */
    .password-reset-done-container h1 {
        margin-bottom: 20px;
    }

    /* Параграфы */
    .password-reset-done-container p {
        margin: 15px 0;
    }

    /* Стили для ссылок */
    .password-reset-done-container a {
        color: #007bff;
        text-decoration: none;
    }

    .password-reset-done-container a:hover {
        text-decoration: underline;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="password-reset-done-container">
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}
