{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block extra_css %}
<style>
    /* Общие стили для контейнера подтверждения почты */
    .verification-sent-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        text-align: center;
    }

    /* Заголовок */
    .verification-sent-container h1 {
        margin-bottom: 20px;
    }

    /* Параграфы */
    .verification-sent-container p {
        margin: 15px 0;
    }

    /* Стили для ссылок */
    .verification-sent-container a {
        color: #007bff;
        text-decoration: none;
    }

    .verification-sent-container a:hover {
        text-decoration: underline;
    }
    
</style>
{% endblock extra_css %}

{% block content %}
<div class="verification-sent-container">
    {% element h1 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}

    {% element p %}
        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    {% endelement %}
    
    <p>
        <a href="{% url 'account_login' %}">{% trans "Go to Login" %}</a>
    </p>
</div>
{% endblock content %}
