{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .profile-container{
        margin: 6px auto;
        background-color: rgb(45,45,45);
        width: 100%;
        max-width: 1024px;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        min-height: 100vh;
    }

    .profile-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    h1{
        font-size: 24px;
        background-color: rgb(90,90,90);
        border: solid rgb(30,30,30);
        border-radius: 0.5rem;
        width: fit-content;
        height: fit-content;
        color: rgb(40,40,40);
        font-family: monospace;
        padding: 0 2px;
        margin-bottom: 8px;
    }

    .form-group{
        display: flex;
        justify-content: center;
        position: relative;
        width: fit-content;
        width: 100%;
    }

    .profile-container form {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .profile-container label{
        color: rgb(180, 180, 180);
        position: absolute;
        transform: translateY(-50%);
        left: 4%;
        background-color: rgb(45, 45, 45);
        padding: 0 6px;
        transition: 0.2s;
        border-radius: 0.3rem;
        z-index: 1;
    }

    .profile-container input {
        padding: 10px;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 4px;
        font-size: 16px;
        background-color: rgb(45, 45, 45);
        color: rgb(180, 180, 180);
        z-index: 1;
        width: 100%;
    }

    .profile-container button {
        background-color: rgb(229, 157, 32);
        color: black;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: fit-content;
    }

    .profile-container button:hover {
        background-color: rgb(244, 167, 33);
    }
    
    .profile-info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: rgb(60, 60, 60);
        width: fit-content;
        padding: 14px;
        border-radius: 0.5rem;
        width: 80%;
        max-width: 320px;
    }

    .profile-buttons{
        display: flex;
        gap: 4px;
    }

    #edit-button{
        background-color: hsl(38, 79%, 45%);
        padding: 4px;
    }
    #edit-button:hover{
        background-color: hsl(38, 79%, 35%);
    }

    #save-changes-button{
        background-color: hsl(38, 79%, 45%);
        padding: 4px;
    }
    #save-changes-button:hover{
        background-color: hsl(38, 79%, 35%);
    }

    #logout-button{
        background-color: rgb(216, 66, 66);
        padding: 4px;
    }
    #logout-button:hover{
        background-color: rgba(216, 66, 66, 0.800);
    }

    #delete-account-button{
        background-color: rgb(216, 66, 66);
        padding: 4px;
        border: dashed rgb(30, 30, 30) 2px;
    }
    #delete-account-button:hover{
        background-color: rgba(216, 66, 66, 0.800);
    }
    
    .logout-icon, .edit-icon, .save-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-info-and-coupons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .coupons-container{
        width: 80%;
        background-color: rgb(60, 60, 60);
        border-radius: 0.5rem;
        padding: 8px 14px;
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }

    .coupons-container p{
        color: rgb(120, 120, 120);
        text-align: center;
        margin-top: 8px;
    }

    .sad-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .order-history-container{
        background-color: rgb(60,60,60);
        width: 80%;
        border-radius: 0.5rem;
        padding: 8px 14px;
        max-width: 320px;
    }

    .order-history-container p{
        color: rgb(120, 120, 120);
        text-align: center;
        margin-top: 8px;
    }

    .profile-content{

    }

    @media(min-width:768px){
        .profile-content{
            flex-direction: row;
            justify-content: left;
            align-items: start;
        }
        .profile-info-and-coupons{
            width: 400px;
        }
    }


</style>

<div class="profile-container">
    

    <div class="profile-content">
        <div class="profile-info-and-coupons">
            <div class="profile-info">
                <div class="profile-buttons">
                    <button type="submit" id="edit-button">
                        <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                            <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                        </svg>
                    </button>
                    <button type="submit" id="save-changes-button">
                        <svg class="save-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                            <path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/>
                        </svg>
                    </button>
                    <button type="submit" id="delete-account-button">Delete Account</button>
                    <button type="submit" id="logout-button">
                        <svg class="logout-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                            <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                        </svg>
                    </button>
                </div>
                <hr style="border: none; height: 2px; background-color: rgb(75, 75, 75);">
                <form method="post" action="">
                    <div class="form-group">
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                        <label class="label" for="id_email">First Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                        <label class="label" for="id_email">Last Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                        <label class="label" for="id_email">Phone</label>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                        <label class="label" for="id_email">Address</label>
                    </div>
                </form>
            </div>

            <div class="coupons-container">
                <h1>Coupons</h1>
                <hr style="border: none; height: 2px; background-color: rgb(75, 75, 75);">
                <p>You don`t have any coupons yet</p>
                <div class="sad-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(110,110,110)">
                        <path d="M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 100q-68 0-123.5 38.5T276-280h66q22-37 58.5-58.5T480-360q43 0 79.5 21.5T618-280h66q-25-63-80.5-101.5T480-420Zm0 340q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z"/>
                    </svg>
                </div>
            </div>
        </div>

        <div class="order-history-container">
            <h1>Order History</h1>
            <hr style="border: none; height: 2px; background-color: rgb(75, 75, 75);">
            <p>You don`t have any orders yet</p>
            <div class="sad-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(110,110,110)">
                    <path d="M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 100q-68 0-123.5 38.5T276-280h66q22-37 58.5-58.5T480-360q43 0 79.5 21.5T618-280h66q-25-63-80.5-101.5T480-420Zm0 340q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
{% endblock %}