{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.product-detail-container{
    width: 100%;
    height: 90vh;
    background-color: rgb(45,45,45);
    max-width: 1024px;
    margin: 6px auto;
    border-radius: 0.5rem;
}

.product{
    background-color: rgb(45, 45, 45);
    width: 100%; /* или любая другая единица измерения */
    aspect-ratio: 1 / 1; /* Ширина равна высоте */
    border-radius: 0.5rem;
    filter: brightness(0.8);
    background-size: cover;
    margin: 15px;
}

.product-name{
    font-size: 24px;
    background-color: rgb(90,90,90);
    color: rgb(240,240,240);
    width: fit-content;
    border-radius: 0.3rem;
    padding: 5px;
    margin-top: 15px;
}

.product-price{
    font-size: 18px;
    background-color: rgb(90,90,90);
    color: rgb(240,240,240);
    width: fit-content;
    height: fit-content;
    border-radius: 0.3rem;
    padding: 2px;
    margin-top: 28px;
}

.product-description{
    font-size: 18px;
    background-color: rgb(38,38,38);
    color: rgb(120,120,120);
    width: fit-content;
    border-radius: 0.3rem;
    padding: 10px;
}

.product-detail-wrapper{
    display: flex;
    flex-direction: row;
}

.product-image{
    width: 40%;
    aspect-ratio: 1 / 1; /* Ширина равна высоте */
}

.product-info{
    width: 60%;
    margin-left: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-input{
    background-color: rgb(45, 45, 45);
    color: rgb(180,180,180);
}

form{
    display: flex;
    gap: 8px;
}

.add-to-bag-button{
    background-color: rgb(75,75,75);
    width: 100px;
    border-radius: 4px;
    color: rgb(180,180,180);
    font-size: 16px;
    border: none;
}

.add-to-bag-button:hover, .keep-shopping-button:hover{
    background-color: rgb(60,60,60);
    cursor: pointer;
}

.keep-shopping-button{
    background-color: rgb(75,75,75);
    width: 120px;
    border-radius: 4px;
    color: rgb(180,180,180);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.quantity-input{
    background-color: rgb(35, 35, 35);
    color: rgb(180,180,180);
    text-align: center;
    height: 28px;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: black;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Скрытие стрелочек */
    margin: 0; /* Убирает возможные отступы */
}

.increment-qty, .decrement-qty{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(45,45,45);
    border-style: solid;
    border-width: 2px;
}

.input-group{
    display: flex;
}

</style>

<div class="product-detail-container">
    <div class="product-detail-wrapper">
        <div class="product-image">
            <div class="product" style="background-image: url('{{ product.image.url }}')"></div>
        </div>
        <div class="product-info">
            <div class="product-info-header">
                <h2 class="product-name">{{ product.title }}</h2>
                <p class="product-price">{{ product.price }}€</p> 
            </div>
            <div class="product-info-center">
                <p class="product-description">{{ product.description }}</p>
            </div>
            <div class="product-info-bottom">
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <svg class="decrement-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-440v-80h560v80H200Z"/></svg>
                                </button>
                            </div>
                            <input class="quantity-input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            <div class="input-group-append">
                                <button class="increment-qty" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <svg class="increment-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                                </button>
                            </div>
                        </div>
                    
                    <input class="add-to-bag-button" type="submit" value="Add to Bag">
                    
                    <a href="/products/products/" class="keep-shopping-button">Keep Shoping</a>

                    <input type="hidden" name="redirect_url" value="{{ request.path }}">

                </form>
            </div>
            
        </div>    
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity-input-script.html' %}
{% endblock %}